<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE A USER</title>
    <link rel="stylesheet" href="/css/topnav.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a  href="/create">UPDATE User</a>
      </div>
      <div class="form-add-new">
        <form action="/update-user", method="post">
        <fieldset>
            <legend>
                 UPDATE NEW USER
            </legend>
           <div class="input-group no-none">
                <LAbel>ID</LAbel>
                <input type="text"
                 name="ID"
                 value="<%= listupdate.id %>">
               </div>  
       <div class="input-group">
        <LAbel>EMAIL</LAbel>
        <input type="text"
         name="upEmail"
         value="<%= listupdate.email %>">
       </div>
       <div class="input-group">
        <label>NAME</label>
        <input type="text" 
        name="upName"
        value="<%= listupdate.name %>">
       </div>
       <div class="input-group">
        <label>CITY</label>
        <input type="text" 
        name="upCity"
        value="<%= listupdate.city %>">
       </div>
        
        <div>
            <button>Save</button>
        </div>
    </fieldset>
        </form>
      </div>
    
</body>
</html>