<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/setting.css">
</head>
<body>
    <div>
        <p>helooo
        </p>
        <img class="setting" src="/images/khangchu.jpg" />

    </div>
</body>
</html>